<div class="container main">
    <h2>General credits</h2>
    <ul>
        <li>Background picture by <a href="https://unsplash.com/photos/a2zdgkDzFo8">Geran de Klerk</a></li>
        <li>Pokémon font from <a href="https://www.dafont.com/pokemon.font">DaFont</a></li>

        <li>Pokémon and Pokémon character names are trademarks of Nintendo.</li>
    </ul>

    <h2>Table icons</h2>
    <ul>
        <li>Versus Points icon (<img src="assets/img/icon/thunder.png" alt="Versus Points icon"  title="Versus Points" class="icon">) made by <a
                href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
                perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, under a <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                3.0 BY</a> licence</li>
        <li>
            Pokécoin icon (<img src="assets/img/icon/coin.png" alt="Pokécoins icon" title="Pokécoins" class="icon">) by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </li>
        <li>
                Uncommon chest icon (<img src="assets/img/icon/uchest.png" alt="Uncommon chest icon"  title="Uncommon chest"class="icon">) made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </li>
        <li>
                Rare holo chest icon (<img src="assets/img/icon/rchest.png" alt="Rare holo chest icon" title="Rare holo chest" class="icon">) made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </li>
        <li>
                Event tickets icon (<img src="assets/img/icon/ticket.png" alt="Event tickets icon" title="Event tickets" class="icon">) made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </li>
    </ul>

</div>