<div class="container main">
    <div class="filter">

        <form method="GET">
            <button type="button" class="btn" id="filter-btn">Filter your results</button>
            <!-- bootstrap -->
            <span class="long-filters">
                <!-- filter by tier -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="tiers">
                    <label class="btn btn-info active" for="tier1">
                        <input type="checkbox" name="tier1" id="tier1" checked> Tier 1
                    </label>
                    <label class="btn btn-info active" for="tier2">
                        <input type="checkbox" name="tier2" id="tier2" checked> Tier 2
                    </label>
                    <label class="btn btn-info active" for="tier3">
                        <input type="checkbox" name="tier3" id="tier3" checked>Tier 3
                    </label>
                </div>


                <!-- filter by type -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="type">
                    <label class="btn btn-info active" for="coins">
                        <input type="checkbox" name="coins" id="coins" checked> <img src="assets/img/icon/coin.png" alt="Pokécoins"
                            title="Pokécoins" class="icon">
                    </label>
                    <label class="btn btn-info active" for="tier2">
                        <input type="checkbox" name="tier2" id="tier2" checked> <img src="assets/img/icon/uchest.png"
                            alt="Uncommon chests" title="Uncommon chests" class="icon">
                    </label>
                    <label class="btn btn-info active" for="tier3">
                        <input type="checkbox" name="tier3" id="tier3" checked><img src="assets/img/icon/ticket.png"
                            alt="Event tickets icon" title="Event tickets" class="icon">
                    </label>
                    <label class="btn btn-info active" for="tier1">
                        <input type="checkbox" name="tier1" id="tier1" checked> Booster packs

                    </label>
                    <label class="btn btn-info active" for="tier2">
                        <input type="checkbox" name="tier2" id="tier2" checked> Pokémon cards
                    </label>
                    <label class="btn btn-info active" for="tier3">
                        <input type="checkbox" name="tier3" id="tier3" checked> EX / GX
                    </label>
                    <label class="btn btn-info active" for="tier3">
                        <input type="checkbox" name="tier3" id="tier3" checked> Supporter
                    </label>
                </div>



                <!-- Tiers:
                    <input type="checkbox" name="tier1" id="tier1" checked><label for="tier1">Tier 1</label>
                    <input type="checkbox" name="tier2" id="tier2" checked><label for="tier2">Tier 2</label>
                    <input type="checkbox" name="tier3" id="tier3" checked><label for="tier3">Tier 3</label><br> -->

                <!-- <span>Items:
                    <input type="checkbox" name="tier1" id="tier1" checked><label for="tier1"><img src="assets/img/icon/coin.png"
                            alt="Pokécoins" title="Pokécoins" class="icon"></label>
                    <input type="checkbox" name="tier2" id="tier2" checked><label for="tier2"><img src="assets/img/icon/uchest.png"
                            alt="Uncommon chests" title="Uncommon chests" class="icon"></label>
                    <input type="checkbox" name="tier3" id="tier3" checked><label for="tier3"><img src="assets/img/icon/ticket.png"
                            alt="Event tickets icon" title="Event tickets" class="icon"></label>
                    <input type="checkbox" name="tier1" id="tier1" checked><label for="tier1">Booster packs</label>
                    <input type="checkbox" name="tier2" id="tier2" checked><label for="tier2">Regular pokémon cards</label>
                    <input type="checkbox" name="tier3" id="tier3" checked><label for="tier3">EX / GX pokémon card</label>
                    <input type="checkbox" name="tier3" id="tier3" checked><label for="tier3">Supporter card</label><br>
                </span> -->
            </span>

        </form>

        <?php
         ?>


    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <th>Date</th>
                <th class="tier1">10<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">30<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">50<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">70<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">100<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">130<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">170<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier1">210<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">270<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">330<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">410<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">490<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">590<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier2">690<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">820<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">980<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">1170<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">1400<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">1670<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
                <th class="tier3">2000<img src="assets/img/icon/thunder.png" alt="Versus Points" class="icon"></th>
            </thead>
            <tbody>
                <?php 
                                                $query = $db -> query('SELECT * FROM current_prizes');
                                                $currentPrizes = $query->fetchAll(); 
                                                foreach (array_reverse($currentPrizes) as $prize) { ?>
                <tr>
                    <td>
                        <?php echo icon($prize['date']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['10']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['30']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['50']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['70']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['100']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['130']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['170']); ?>
                    </td>
                    <td class="tier1">
                        <?php echo icon($prize['210']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['270']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['330']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['410']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['490']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['590']); ?>
                    </td>
                    <td class="tier2">
                        <?php echo icon($prize['690']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['820']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['980']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['1170']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['1400']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['1670']); ?>
                    </td>
                    <td class="tier3">
                        <?php echo icon($prize['2000']); ?>
                    </td>
                    <?php } ?>
            </tbody>
        </table>
    </div>
</div>