<div class="container main">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Date</th>
                <th>Name</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
                <th>Artist</th>
            </thead>
            <tbody>
                <?php 
                    $query = $db -> query('SELECT * FROM top_prizes');
                    $topPrizes = $query->fetchAll(); 
                    foreach (array_reverse($topPrizes) as $prize) { ?>
                <tr>
                    <td>
                        <?php echo $prize['date']; ?>
                    </td>
                    <td>
                        <?php echo $prize['name']; ?>
                    </td>
                    <td>
                        <?php echo $prize['type']; ?>
                    </td>
                    <td><img src=<?php echo "assets/" . $prize['image'] ?>></td>
                    <td>
                        <?php echo $prize['description']; ?>
                    </td>
                    <td>
                        <?php echo $prize['illustration']; ?>
                    </td>
                    <?php } ?>
            </tbody>
        </table>
    </div>




    <!-- <div>
        <table id="history">
            <thead>
                 <th>Date</th>
                <th>Name</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr>
                    <td>9 october 2018</td>
                    <td>Guzma</td>
                    <td>Supporter</td>
                    <td><img src="https://cdn.bulbagarden.net/upload/thumb/0/0c/GuzmaDarknessthatConsumesLight56.jpg/180px-GuzmaDarknessthatConsumesLight56.jpg"
                            alt="Guzma full art"></td>
                    <td>
                        <p>"Switch 1 of your opponent's Benched Pokémon with their Active Pokémon. If you do, switch
                            your Active Pokémon with 1 of your Benched Pokémon."</p>
                        <p class="comment">You may play only 1 Supporter card during your turn (before your attack).</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>