@font-face {
    font-family: "pokemon";
    src: url("../fonts/PokemonSolid.ttf");
}

body {
    background-image: url("../img/geran-de-klerk-210678-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

@import '_navbar';

.navbar-brand, h1 {
    font-family: "pokemon";
    color: #ffcb05!important;
}  
h1 {
    font-size: 3.5rem;    
    letter-spacing: 0.3rem;
    text-align: center;
    color: #ffcb05;
    -webkit-text-stroke: 6px #0c2461;
    padding: 3rem;
}
h2 {
    color: #0c2461;
}

// container
.main {
    background-color: white;
    padding: 1rem;
    min-height: calc(100vh - 59px - 60px);

    & img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

form {
    background-color: #0000001a;
    padding: 1rem;
    border-radius: 4px;
}

.comment {
    font-style: italic;
}

table {
    border-collapse: collapse;
}
#history img {
    max-width: inherit;
}
thead {
    text-align: center;
}
td {

    padding: 1rem;
}
.description {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

@import '_footer';
@import '_breakdown';